* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
#root {
  min-height: inherit;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}
button {
  list-style: none;
  border-style: none;
}
p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
}

.bg-orange {
  background-color: #f85555;
}

.color-orange {
  color: #f85555;
}
/***********Login************/
/****************************/
.login {
  flex-grow: 1;
}
.login > .row {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: inherit; */
}
/*******End**Login************/
/****************************/

/***********Products**list************/
/*********************************/
.products-list_card {
  /* height: 320px; */
  height: 100%;
}
.products-list_card img {
  height: 150px;
  max-width: 100%;
}
.products-list_card .btn {
  padding: 0;
}
.products-list_card hr {
  background-color: gray;
}

.btn-add-cart {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/***********End Products**list************/
/*********************************/
/***********Side**Bar**************/
/*********************************/
.sidebar {
  position: absolute;
  right: -500px;
  bottom: 0;
  top: 3.5rem;
  z-index: 2;
  width: min(80%, 350px);
  height: 100%;
  border: 1px solid whitesmoke;
  transition: right ease-out 1.2s;
  background-color: whitesmoke;
  box-shadow: 5px 10px 20px #888888;
}
.open-side {
  transition: right ease-out 1.2s;
  right: 0;
}
/***********Carousel**************/
/*********************************/
.carousel-img {
  height: 450px;
  max-width: 100%;
  margin: auto;
}
.carousel-control-next,
.carousel-control-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 45%;
}
.carousel-indicators .btn {
  height: 10px;
  width: 20px;
  background-color: #f85555;
  box-shadow: none;
}
/***********End Carousel**************/
/*********************************/
/***********Details counter**************/
/*********************************/
.details-counter button {
  width: 50px;
  height: 30px;
}
.details-counter p {
  width: 50px;
  height: 30px;
}
