* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
#root {
  min-height: inherit;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}
button {
  list-style: none;
  border-style: none;
}
button:hover{
  opacity: .95;
}

p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: inherit;
}

.bg-orange {
  background-color: #1b6078;
}

.color-orange {
  color: #f85555;
}
/***********Login************/
/****************************/
.login {
  flex-grow: 1;
}
.login > .row {
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: inherit; */
}
/*******End**Login************/
/****************************/

.card-category button:hover{
  opacity: .9;
  color: #1b6078;
}
.accordion-button{
  background-color: #1b6078!important;
  color: white!important;
  border-style: none !important;
  border: none!important;
  


}
.accordion-button::before,.accordion-button::after{
  color: red;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
}
.accordion-button:focus{
  
  border-style: none;
  color: white;
  border: none;
  box-shadow: none;
}


/***********filters***********/
/*****************************/

/***********Endfilters***********/
/*******************************/
/***********Products**list************/
/*********************************/
.products-list_card {
  height: 100%;
  box-shadow: 2px 3px 1px whitesmoke;

  transition: scale 1.5s ease-in;
}

.products-list_card:hover {
  box-shadow: 2px 3px 3px whitesmoke;
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  transition: scale 1.5s ease-in;
}

.products-list_card img {
  height: 150px;
  max-width: 100%;
}
.products-list_card .btn {
  padding: 0;
}
.products-list_card hr {
  background-color: gray;
}

.btn-add-cart {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/***********End Products**list************/
/*********************************/
/***********Side**Bar**************/
/*********************************/
.sidebar {
  position: fixed;
  right: -500px;
  bottom: 0;
  top: 3.5rem;
  z-index: 3;
  width: min(80%, 350px);
  min-height: 95%;
  /* height: 90vh; */
  border: 1px solid whitesmoke;
  transition: right ease-out 1.2s;
  background-color: whitesmoke;
  box-shadow: 5px 10px 20px #888888;
  overflow: auto;
}
.sidebar .container {
  min-height: 100%;
  overflow: auto;
}
.open-side {
  transition: right ease-out 1.2s;
  right: 0;
}

.sidebar .fa-circle-xmark {
  font-size: 1.5rem;
}
.card-resume_quantity {
  width: 25px;
  height: 25px;
}
/***********Carousel**************/
/*********************************/
.carousel-img {
  height: 450px;
  max-width: 100%;
  margin: auto;
}
.carousel-control-next,
.carousel-control-prev {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 45%;
}
.carousel-indicators .btn {
  height: 10px;
  width: 20px;
  background-color: #f85555;
  box-shadow: none;
}
/***********End Carousel**************/
/*********************************/
/***********Details counter**************/
/*********************************/
.details-counter button {
  width: 50px;
  height: 30px;
}
.details-counter p {
  width: 50px;
  height: 30px;
}

/***********End Details counter**************/
/*********************************/

/***********Footer**************/
/*********************************/
.footer {
  min-height: 10rem;
}
.footer .container-fluid {
  min-height: inherit;
}
.footer li {
  margin: auto 0.5rem;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer i {
  font-size: 1.5rem;
  color: white;
}

/***********End Footer**************/
/*********************************/
